$fontFamily: "Geometria";
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1400;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$darkText: #555151;
$lightText: #fff;
$additionalText: #868686;
$textBtn: #7f7ef3;//58158D

$blue: #7f7ef3;
$darkBlue: #43398f;
$pink: #fd96ab;
$purple: #e3b0f5;
$darkPurple: #aba9ff;
$yellow: #fafc99;

//градиенты
$g-main: linear-gradient(140deg, #9123EF, #BD7BF5);